In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [3]:
sales_data = pd.read_csv("Retail_data.csv")

In [4]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101929 entries, 0 to 101928
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   hour                    101929 non-null  object
 1   order_id                101929 non-null  float64
 2   customer_id             101929 non-null  float64
 3   product_id              101929 non-null  float64
 4   product_price           101929 non-null  float64
 5   variant_id              101929 non-null  float64
 6   orders                  101929 non-null  int64
 7   gross_sales             101929 non-null  float64
 8   discounts               101929 non-null  float64
 9   returns                 101929 non-null  float64
 10  net_sales               101929 non-null  float64
 11  shipping                101929 non-null  float64
 12  taxes                   101929 non-null  float64
 13  total_sales             101929 non-null  float64
 14  ordered_item_quantity   101929 non-null  int64
 15  net_quantity            101929 non-null  int64
 16  returned_item_quantity  101929 non-null  int64
 17  order_name              95968 non-null   object
 18  product_type            79068 non-null   object
 19  product_title           95446 non-null   object
 20  product_vendor          79563 non-null   object
 21  variant_title           70613 non-null   object
 22  api_client_title        95968 non-null   object
dtypes: float64(12), int64(4), object(7)
memory usage: 17.9+ MB

In [5]:
sales_data.isnull().sum()

hour                          0
order_id                      0
customer_id                   0
product_id                    0
product_price                 0
variant_id                    0
orders                        0
gross_sales                   0
discounts                     0
returns                       0
net_sales                     0
shipping                      0
taxes                         0
total_sales                   0
ordered_item_quantity         0
net_quantity                  0
returned_item_quantity        0
order_name                 5961
product_type              22861
product_title              6483
product_vendor            22366
variant_title             31316
api_client_title           5961
dtype: int64

In [7]:
df = sales_data.apply(lambda series: pd.Series(
        LabelEncoder().fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index))

In [8]:
import time
start_time = time.time()

imputer = SimpleImputer(strategy = 'mean')
imputer.fit(df)
sales_data_imputed_mean = imputer.transform(df)


print("--- %s seconds ---" % (time.time() - start_time))

--- 0.10943770408630371 seconds ---

In [9]:
sales_data_si_mean = pd.DataFrame(sales_data_imputed_mean, columns=df.columns)
sales_data_si_mean.head()

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
0,6432.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,...,98.0,0.0,5.0,5.0,9519.363975,8.24632,3885.162563,96.625806,75.379024,1.935968
1,6433.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,...,98.0,0.0,5.0,5.0,9519.363975,8.24632,3885.162563,96.625806,75.379024,1.935968
2,6434.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,...,98.0,0.0,5.0,5.0,9519.363975,8.24632,3885.162563,96.625806,75.379024,1.935968
3,6435.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,...,98.0,0.0,5.0,5.0,9519.363975,8.24632,3885.162563,96.625806,75.379024,1.935968
4,6436.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394.0,131.0,...,98.0,0.0,5.0,5.0,9519.363975,8.24632,3885.162563,96.625806,75.379024,1.935968

In [10]:
sales_data_si_mean.isnull().sum()

hour                      0
order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
dtype: int64