In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
sales_data = pd.read_csv("Retail_data.csv")

In [3]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51218 entries, 0 to 51217
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hour                    51218 non-null  object
 1   order_id                51218 non-null  float64
 2   customer_id             51218 non-null  float64
 3   product_id              51218 non-null  float64
 4   product_price           51218 non-null  float64
 5   variant_id              51218 non-null  float64
 6   orders                  51218 non-null  int64
 7   gross_sales             51218 non-null  float64
 8   discounts               51218 non-null  float64
 9   returns                 51218 non-null  float64
 10  net_sales               51218 non-null  float64
 11  shipping                51217 non-null  float64
 12  taxes                   51217 non-null  float64
 13  total_sales             51217 non-null  float64
 14  ordered_item_quantity   51217 non-null  float64
 15  net_quantity            51217 non-null  float64
 16  returned_item_quantity  51217 non-null  float64
 17  order_name              47837 non-null  object
 18  product_type            39107 non-null  object
 19  product_title           47810 non-null  object
 20  product_vendor          39553 non-null  object
 21  variant_title           33845 non-null  object
 22  api_client_title        47837 non-null  object
dtypes: float64(15), int64(1), object(7)
memory usage: 9.0+ MB

In [4]:
sales_data.isnull().sum()

hour                          0
order_id                      0
customer_id                   0
product_id                    0
product_price                 0
variant_id                    0
orders                        0
gross_sales                   0
discounts                     0
returns                       0
net_sales                     0
shipping                      1
taxes                         1
total_sales                   1
ordered_item_quantity         1
net_quantity                  1
returned_item_quantity        1
order_name                 3381
product_type              12111
product_title              3408
product_vendor            11665
variant_title             17373
api_client_title           3381
dtype: int64

In [5]:
df = sales_data.apply(lambda series: pd.Series(
        LabelEncoder().fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index))

In [6]:
import time
start_time = time.time()

imputer = SimpleImputer(strategy = 'median')
imputer.fit(df)
sales_data_imputed_median = imputer.transform(df)


print("--- %s seconds ---" % (time.time() - start_time))

--- 0.16618943214416504 seconds ---

In [8]:
sales_data_si_median = pd.DataFrame(sales_data_imputed_median, columns=df.columns)
sales_data_si_median.head()

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
0,3425.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.0,85.0,...,58.0,0.0,4.0,4.0,4773.0,9.0,2248.0,89.0,61.0,2.0
1,3426.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.0,85.0,...,58.0,0.0,4.0,4.0,4773.0,9.0,2248.0,89.0,61.0,2.0
2,3427.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.0,85.0,...,58.0,0.0,4.0,4.0,4773.0,9.0,2248.0,89.0,61.0,2.0
3,3428.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.0,85.0,...,58.0,0.0,4.0,4.0,4773.0,9.0,2248.0,89.0,61.0,2.0
4,3429.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310.0,85.0,...,58.0,0.0,4.0,4.0,4773.0,9.0,2248.0,89.0,61.0,2.0

In [9]:
sales_data_si_median.isnull().sum()

hour                      0
order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
dtype: int64